.idea
.gradle
*.iml
node_modules
platforms
plugins
www/
_www/
package-lock.json
requests/

src/*.js
src/d/*.js
src/lib/numbersLab/*.js
src/model/*.js
src/model/blockchain/*.js
src/pages/*.js
src/providers/*.js
src/utils/*.js
src/workers/*.js

dummy-wallet.txt
scripts/build.sh
