<div id="app" class="indexTab content" v-cloak="">
	<div class="hideOnNonNative">
		<div class="mainBlock">
			<div class="actions">
				<img src="./assets/img/logo.png" alt="Qwertycoin"/>
			</div>
			<div class="headline">
				<h1>{{ $t("homepage.tagLine") }}</h1>
			</div>
			<br />
			<div class="callToAction tc">
				<a href="#" @click="loadWallet()" v-if="hasLocalWallet" class="btn primary">{{ $t("homepage.actions.loadWallet") }}</a>
				<a href="#!createWallet" class="btn primary" v-if="!hasLocalWallet">{{ $t("homepage.actions.createWallet") }}</a>
				<a href="#!import" class="btn mini" v-if="!hasLocalWallet">{{ $t("homepage.actions.importWallet") }}</a>
			</div>
		</div>
	</div>
	<div class="hideOnNative">
		<div class="mainBlock">
			<div class="actions">
				<span id="main_logo"><img src="./assets/img/coin_white.png" alt="Qwertycoin"/></span>
				<div class="right">
					<!--
					<a href="#" @click="loadWallet()" v-if="hasLocalWallet" class="btn mini basic">{{ $t("homepage.actions.loadWallet") }}</a>-->
					<a href="#!import" class="btn mini">{{ $t("homepage.actions.importWallet") }}</a>
					<a href="#!createWallet" class="btn mini">{{ $t("homepage.actions.create") }}</a>
				</div>
			</div>
			<div class="headline">
				<div class="row">
					<div class="column">
						<div style="padding-left:25%;text-align: left">
							<h1>{{ $t("homepage.mainTitle") }}</h1>
							<h2>{{ $t("homepage.tagLine") }}</h2>
							<h3>{{ $t("homepage.tagLineTwo") }}</h3>
						</div>
					</div>
					<div class="column">
						<div style="padding-top:20px;" class="callToAction tc">
							<a href="#" @click="loadWallet()" v-if="hasLocalWallet" class="btn basic">{{ $t("homepage.actions.loadWallet") }}</a>
							<a href="#!import" v-if="!hasLocalWallet" class="btn basic">{{ $t("homepage.actions.importWallet") }}</a>
							<a href="#!createWallet" class="btn primary">{{ $t("homepage.actions.createWallet") }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>